*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
font-size: 62.5%;
--text-color:#ffffff;
--text-color-red:#da0917;
}
body{
width: 100%;
height: 100%;

}
body{
font-size: 1.6rem;
font-family: sans-serif;
}
.container{
width: 80%;
margin: 0  auto;
background-color:#ece6e8;
}
header{
width: 100%;
padding: 1rem;
background-color: white;
}
nav {
display: flex;
align-items: center;
justify-content: space-around;
}
.logo{
font-family: 'Dancing Script', cursive;
font-size: 6rem;
color:var(--text-color-red);
}
#menu{
display: flex;
align-items: center;
justify-content: center;
list-style: none;
}
#menu li{
padding: 2rem;
}
#menu li a{
text-decoration: none;
padding: 1rem;
font-size: 2rem;
color:#484646;
font-family:sans-serif;
}

#background_section{
background-image: url('..//images/background01.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 80vh;
}
.content-background{
color: var(--text-color);
padding: 7rem;
display: block;
}
.content-background h1{
font-size: 5rem;
width: 45rem;
margin-bottom:4rem;
color: var(--text-color);
}
.content-background p{
width:50rem;
font-size: 2rem;
line-height: 150%;
margin-bottom: 3rem;
}

.content-background a{
color:var(--text-color-red);
text-decoration: none;
background-color: var(--text-color);
text-transform: uppercase;
padding: 1.5rem 2rem;
font-weight: bold;
display:inline-block;
margin-top: 2rem;
}

/* About valentine's day*/
#about{
width:75%;
background-color: #ffffff;
margin: 10rem auto;
height: 65rem;
}
#about h2{
text-align: center;
padding:6rem 0 2rem 0;
margin-bottom: 2rem;
}
#about a{
text-decoration: none;
display: block;
background-color: var(--text-color-red);
color: var(--text-color);
padding: 1.5rem 3rem;
text-transform: uppercase;
text-align: center;
width: fit-content;
font-weight: bold;
margin: 4rem auto;
}
#about .about-paragraph{
text-align: center;
margin:0 auto 3rem auto;
width: 60rem;
font-size: 1.8rem;
line-height: 150%;
color: var(--text-color-red);
font-style: italic;
}
.about-content{
display: flex;
justify-content: center;
align-items: center;
margin-top: 5rem;
  gap:2rem;
}
.about-content-side{
  width: 35%;
  padding: 2rem;
}
.about-content-side p{
font-size: 1.8rem;
line-height: 150%;
color:#484646;
text-align: justify;
}
