*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
font-size: 62.5%;
--text-color:#ffffff;
--text-color-red:#da0917;
}
body{
width: 100%;
height: 100%;

}
body{
font-size: 1.6rem;
font-family: sans-serif;

}
.container{
width: 80%;
margin: 0  auto;
background-color:#ece6e8;
}
.link{
text-decoration: none;
display: block;
background-color: var(--text-color-red);
color: var(--text-color);
padding: 1.5rem 3rem;
text-transform: uppercase;
width: fit-content;
font-weight: bold;

}

header{
width: 100%;
padding: 1rem;
background-color: white;
height: 80px;
}
nav {
display: flex;
align-items: center;
justify-content: space-around;
}
.logo{
font-family: 'Dancing Script', cursive;
font-size: 4.5rem;
color:var(--text-color-red);
}
#menu{
display: flex;
align-items: center;
justify-content: center;
list-style: none;
}
#menu li{
padding: 2rem;
}
#menu li a{
text-decoration: none;
padding: 1rem;
font-size:1.6rem;
color:#484646;
font-family:sans-serif;
}

#background_section{
background-image: url('..//images/background01.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 80vh;
}
.content-background{
color: var(--text-color);
width: 50rem;
height: 80vh;
display: flex;
flex-direction: column;
justify-content: center;
padding: 7rem;
}
.content-background h1{
font-size: 4.5rem;
color: var(--text-color);
}
.content-background p{
font-size: 1.6rem;
line-height: 150%;
margin-block: 3rem;
}
.content-background a{
color:var(--text-color-red);
text-decoration: none;
background-color: var(--text-color);
text-transform: uppercase;
padding: 1.5rem 2rem;
font-weight: bold;
display: inline-block;
width: fit-content;
}

/* About valentine's day*/
#about{
width:75%;
height: 65rem;
background-color: #ffffff;
margin: 6rem auto;

}
.about-link{
padding: 0 0 1rem 0;
margin: auto;
}
#about a{
text-align: center;
margin: 4rem auto;
}
#about h2{
text-align: center;
padding:6rem 0 2rem 0;
margin-bottom: 2rem;
}
#about .about-paragraph{
text-align: center;
margin:0 auto 3rem auto;
width: 60rem;
font-size: 1.6rem;
line-height: 150%;
color: var(--text-color-red);
font-style: italic;
}
.about-content{
display: flex;
justify-content: center;
align-items: center;
margin-top: 3rem;
  gap:2rem;
}
.about-content-side{
  width: 35%;
  padding: 2rem;
}
.about-content-side p{
font-size: 1.6rem;
line-height: 150%;
color:#484646;
text-align: justify;
}
#collection{
width: 100%;
margin: 6rem 0;
}
#collection img{
width: 100%;
height: 50vh;
}

/* Gift  */
#gifts{
width:75%;
background-color: #ffffff;
margin: 6rem auto;
}
.gift{
display: flex;
gap: 2%;
padding: 5rem 4rem;
margin-top: 5rem;
}
.gift-content-left{
width: 49%;
}
.gift-content-left a{
display: block;
margin-top: 3.5rem;
}
.gift-content-right{
  width: 49%;
}
.gift-content-right img{
width: 100%;
}
.subtile-content-left{
font-family: 'Times New Roman', Times, serif;
font-size: 4.5rem;
margin-bottom: 2rem;
}
.paragraph-content-left{
width: 300px;
line-height: 150%;
text-align: justify;
margin-bottom: 3rem;
letter-spacing: .2px ;
color:#484646;
}

.price{
font-size: 4rem;
color: var(--text-color-red);
font-weight: bold;
}
.price span{
font-size: 3rem;
}

/*Cards*/
#three-columns{
width: 100%;
background-color:#ece6e8;


}
.three-columns-content{
text-align: center;
display: block;
padding-block:2rem ;
}
.three-columns-content h2{
font-size: 4rem;
}
.three-columns-content p{
padding: 1rem 0 1rem 0 ;
color:#484646;
}

.cards{
 width: 75%;
 margin: 0 auto;
 padding: 1rem;
 margin-top: 1.5rem;
display: flex;
align-items: center;
justify-content: center;
gap: 1.6rem;
}
.card .card-content{
padding: 2rem;
margin-top: 2rem;
text-align: center;
}
.card-content p{
margin-block:1rem ;
}



